<div>
    <div class="flex justify-center my-40">
        <div class="flex-col mx-10">
            <p class="font-semibold text-gray-400 text-xl">Search for a movie below...</p>
            <form action="/results" method="GET">
                <input class="border-4 border-black p-1" type="text" name="search" placeholder="Search Movie">
                <input class="cursor-pointer border-4 border-black transition duration-500 ease-out hover:bg-gray-700 text-md font-bold bg-gray-800 text-white px-1 rounded" type="submit" value="SEARCH">
            </form>
        </div>
        <div class="flex-col">
            <p class="font-semibold text-gray-400 text-xl">Create Username</p>
            <form method="POST" action="/user">
                <input class="border-4 border-black p-1" type="text" name="username" placeholder="Username"/>
                <input class="cursor-pointer border-4 border-black transition duration-500 ease-out hover:bg-gray-700 text-md font-bold bg-gray-800 text-white px-1 rounded" type="submit" value="LOGIN"/>
            </form>
        </div>
    </div>
</div>