<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WATCH LIST</title>
</head>
<body>
  <nav>
    <div>
      <a href="/">FRONT PAGE</a>
      <div id="logout"></div>
    </div>
    <div>
      <% if (locals.logout) { %>
        <script>
            localStorage.clear()
        </script>
      <% } %>
      <script>
          let user = localStorage.getItem('user')
          console.log(user)
          if (user) {
              document.getElementById('logout').innerHTML = "<a href='user/logout'>LOGOUT</a>"
          }
      </script>
    </div>

  </nav>
  <main>
    <%- body %>
  </main>
</body>
</html>