<% if (!locals.username) { %>
    <h1 id="user"></h1>
    <script>
        let currentUser = localStorage.getItem('user')
        document.getElementById('user').innerText = ` Hello, ${currentUser}`
        document.getElementById('userInput').value = currentUser
        console.log(`User logged in: ${currentUser}`)
    </script>
<% } else { %>
    <h1>Welcome Back, <%= username %></h1>
    <script>
        if (!localStorage.getItem('user')) {
            let user = "<%- username %>"
            localStorage.setItem('user', user)
        }
        
        let currentUser = localStorage.getItem('user')
        console.log(`User logged in: ${currentUser}`)
    </script>
<% } %>