<% if (!locals.username) { %>
    <h1 id="user"></h1>
    <script>
        let currentUser = localStorage.getItem('user')
        document.getElementById('user').innerText = ` Hello, ${currentUser}`
        document.getElementById('userInput').value = currentUser
        console.log(`User logged in: ${currentUser}`)
    </script>
<% } else { %>
    <h1>Welcome Back, <%= username %></h1>
    <h1>Movie Search</h1>
    <p>Search for a movie below...</p>
    <form action="/results" method="GET">
        <input type="hidden" name="user" value="<%= username %>">
        <input type="text" name="search">
        <input type="submit" value="Submit">
    </form>
    <script>
        if (!localStorage.getItem('user')) {
            let user = "<%- username %>"
            localStorage.setItem('user', user)
        }
        let currentUser = localStorage.getItem('user')
        console.log(`User logged in: ${currentUser}`)
    </script>
<% } %>
